h1, h2, h3 {
    .highlighted {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -1%;
            width: 102%;
            height: 86%;
            background: var(--orange);
            z-index: 0;
            opacity: 0;
            filter: blur(10px);
        }

        &--transition {
            &::before {
                transition: opacity 0.5s, filter 0.5s;
            }
        }

        &--shown {
            &::before {
                opacity: 1;
                filter: blur(0px);
            }
        }
    }
}