@media (hover: hover) {
    .solution__contact__card {
        &:hover {
            .solution__contact__card__icon {
                color: var(--white);
                background-color: var(--orange);
            }
        }
    }
}

.w-embed {
    &::before,
    &::after {
        display: none !important;
    }
}

.form__header__angle {
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
    }
}