.select-field {
    &__helper {
        position: absolute;
        top: 0;
        left: -100vw;
        pointer-events: none;
    }

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    --width: auto;
    --padding: calc(0.5em + 4px);
    --arrow-height: 8px;
    --arrow-half-height: 4px;
    --arrow-half-width: 4px;

    padding-right: var(--padding);
    width: calc(var(--width) + 0.2em + var(--padding));

    background-image:
        linear-gradient(60deg, transparent 50%, currentColor 50%),
        linear-gradient(120deg, currentColor 50%, transparent 50%);
    background-position:
        calc(100% - var(--arrow-half-width)) 45%,
        100% 45%;
    background-size:
        var(--arrow-half-width) var(--arrow-height),
        var(--arrow-half-width) var(--arrow-height);
    background-repeat: no-repeat;

    option {
        color: var(--orange);
        padding: 0.2em;
    }
}